In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sa = pd.Series([1,2,3], index=list('abc'))
sa

a    1
b    2
c    3
dtype: int64

In [3]:
x = list('abcdef')
x

['a', 'b', 'c', 'd', 'e', 'f']

In [4]:
x[8:10]

[]

In [11]:
dfb = pd.DataFrame({'a': ['one', 'one', 'two',
                          'three', 'two', 'one', 'six'],
                    'c': np.arange(7)})
dfb

       a  c
0    one  0
1    one  1
2    two  2
3  three  3
4    two  4
5    one  5
6    six  6

In [12]:
# dfb['c'][dfb['a'].str.startswith('o')] = 42
dfb[dfb['a'].str.startswith('o')]['c'] = 42
dfb

C:\Users\17634\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       a  c
0    one  0
1    one  1
2    two  2
3  three  3
4    two  4
5    one  5
6    six  6

In [13]:
dfb[dfb['a'].str.startswith('o')]

     a  c
0  one  0
1  one  1
5  one  5

In [15]:
dfc = pd.DataFrame({'a': ['one', 'one', 'two',
                          'three', 'two', 'one', 'six'],
                    'c': np.arange(7)})
dfc

       a  c
0    one  0
1    one  1
2    two  2
3  three  3
4    two  4
5    one  5
6    six  6

In [15]:
dfd = dfc.copy()
dfd

NameError: name 'dfc' is not defined

In [16]:
df = pd.DataFrame({'Animal': ['Mouse',  'Tiger', 'Tiger', 'Falcon', 'Tiger', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [40, 400, 410, 380., 406, 370., 24., 26.]})
df

   Animal  Max Speed
0   Mouse       40.0
1   Tiger      400.0
2   Tiger      410.0
3  Falcon      380.0
4   Tiger      406.0
5  Falcon      370.0
6  Parrot       24.0
7  Parrot       26.0

In [17]:
df.groupby("Animal", sort=False)['Max Speed'].mean()

Animal
Mouse      40.000000
Tiger     405.333333
Falcon    375.000000
Parrot     25.000000
Name: Max Speed, dtype: float64

In [18]:
df.groupby("Animal")['Max Speed'].mean()

Animal
Falcon    375.000000
Mouse      40.000000
Parrot     25.000000
Tiger     405.333333
Name: Max Speed, dtype: float64

In [20]:
df.Animal.value_counts(sort=False)

Mouse     1
Tiger     3
Parrot    2
Falcon    2
Name: Animal, dtype: int64

In [21]:
df['Animal'].unique()

array(['Mouse', 'Tiger', 'Falcon', 'Parrot'], dtype=object)